@import url('../App.css');

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    object-fit: cover;
    margin-bottom: 30px;
}

.about-container {
    justify-content: center;
    align-items: stretch;
    text-align: left;
    flex-direction: column;
}

.text-content,
.resume-content {
    flex: 1;
}

.text-content p {
    padding-bottom: 15px;
}

table {
    padding: 10px 0px;
}
td {
    min-width: 130px;
    vertical-align: top;
    padding: 5px 0px;
}
.faint {
    color: gray;
}
@media (min-width: 1000px) {
    .about-container {
        flex-direction: row;
    }
}

.social-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    margin-top: 10px;

}

.icon {
    font-size: 2.5rem;
    color: #ffffff;
    transition: color 0.3s ease;

}

.icon:hover {
    color: var(--teal);
}