@import url('../App.css');

.projects-container {
    padding: 10px 100px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.project-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.project-image {
    min-width: 200px;
    max-width: 40%;
    height: auto;
}

.project-details {
    padding: 20px;
    flex: 1;
}

@media (min-width: 1500px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 3000px) {
    .projects-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}