@import url('../App.css');

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

.project-media {
    min-width: 200px;
    max-width: 40%;
    height: auto;
}

.project-image {
    width: 80%;
}
.project {
    padding-top: 10px;
    padding-bottom: 10px;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.project-details {
    padding: 20px 80px;
    text-align: left;
    flex: 1;
}

.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    min-width: 200px;
    max-width: 80%;
    height: 250px;
}
@media (min-width: 800px) {
    .project {
        flex-direction: row;
        /* height: 250px; */
        padding: 40px;
    }
    .slideshow {
        max-width: 40%;
    }
}

.project-link {
    text-decoration: none; 
    color: var(--text-color);
}
.project-link:hover {
    color: var(--teal);
}

/* @media (min-width: 1500px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 3000px) {
    .projects-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
} */