@import url('../App.css');

.arrow-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    color: var(--text-color);
}

.arrow-button:hover {
    color: var(--teal);
}

.project-image, iframe {
    max-width: 80%;
    border-radius: 10px;
}
