.cursor {
    display: inline-block;
    animation: blink 0.7s step-end infinite;
    font-weight: bold;
    margin-left: 2px; /* Space between text and cursor */
}

.cursor.visible {
    opacity: 1; /* Cursor is visible */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}