:root {
    --text-color: #dddddd;
    --gray: #cccccc;
    --cyan: #00ffff;
    --teal: #008080;
    --background-color: rgb(40, 44, 52);
    --background-translucent: rgba(40, 44, 52, 0.75);
    --background-outer: rgb(20, 20, 20);
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    text-align: center;
    background-image: radial-gradient(circle,
            var(--background-color), var(--background-outer));
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Consolas', 'Courier New', monospace;
}

p {
    font-size: 1.3vh;
    margin: 10px 0px;
}

h1 {
    padding-top: 50px;
    font-size: 4vh;
}

h2 {
    font-size: 2vh;
    color: var(--teal);
}

.card {
    background-color: var(--background-translucent);
    border: 2px solid var(--gray);

    border-radius: 8px;

    margin: 0px 75px;
}


.App {
    display: flex;
}


.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 150px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    background-color: var(--background-translucent);
}

.nav-bar ul {
    list-style: none;

    padding: 0;

}

.nav-bar a {
    text-decoration: none;

    color: white;

    display: flex;

    justify-content: center;

    height: 50px;

    font-size: 1.2em;
    margin: 20px 0;

}

.nav-bar li.active a {
    font-weight: bold;
    color: var(--teal);
}

.main-content {
    display: block;
    width: 100%;
}


.content-section {
    padding-left: 170px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}


#home {
    color: white;
}

#about {
    color: white;
}

#projects {
    color: white;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    font-size: 1.5vh;
}